[submodule "sovereign-utqc"]
	path = sovereign-utqc
	url = https://github.com/SNAPKITTYWEST/sovereign-utqc.git
[submodule "snapkitty-agentos"]
	path = snapkitty-agentos
	url = https://github.com/SNAPKITTYWEST/snapkitty-agentos.git
[submodule "snapkitty-gitbucket"]
	path = snapkitty-gitbucket
	url = https://github.com/SNAPKITTYWEST/snapkitty-gitbucket.git
[submodule ".newrepos/bob-orchestrator"]
	path = .newrepos/bob-orchestrator
	url = https://github.com/SNAPKITTYWEST/bob-orchestrator.git
